@import "_zeros.scss";

// .container {}

// .h1 {}

.main {
      height: 642px;
      width: 642px;
      margin: 20px auto;
      display: flex;
      flex-wrap: wrap;
      border: 1px solid orange;

      &__cell {
            height: 10px;
            width: 10px;
            border: 1px solid green;

      }
}

.snake_head {
      background-color: rgb(248, 72, 28);
      border-radius: 50%;
}
.snake {
      background-color: cadetblue;

}
.snake_tail {
      background-color: rgb(187, 79, 219);

}